<h2 mat-dialog-title>
  @switch (data.mode) { @case (dialogMode.Add) { Add Customer } @case (dialogMode.Edit) { Edit Customer } @case
  (dialogMode.View) { View Customer } }
</h2>

<mat-dialog-content>
  <div class="form">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput [formControl]="firstName" [readonly]="data.mode === dialogMode.View" />

      @if (firstName.hasError('required')) {
      <mat-error>First name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput [formControl]="lastName" [readonly]="data.mode === dialogMode.View" />

      @if (lastName.hasError('required')) {
      <mat-error>Last name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" [readonly]="data.mode === dialogMode.View" />

      @if (email.hasError('required')) {
      <mat-error>Email is required</mat-error>
      } @if (email.hasError('email')) {
      <mat-error>Invalid email address</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput [formControl]="phoneNumber" [readonly]="data.mode === dialogMode.View" />
    </mat-form-field>

    <mat-checkbox [formControl]="isActive"> Active </mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">@if (data.mode === dialogMode.View) { Close } @else { Cancel }</button>

  @if (data.mode !== dialogMode.View) {
  <button mat-flat-button color="warn" [disabled]="!isValid()" (click)="save()">
    @if (data.mode === dialogMode.Add) { Add } @else { Save }
  </button>
  }
</mat-dialog-actions>
